@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1F2937;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4B5563;
}

.pop {
  animation: pop 0.82s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.2s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes pop {

  0%,
  100% {
    transform: scale(1);
  }

  20%,
  80% {
    transform: scale(1.1);
  }

  40%,
  60% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1.025);
  }
}